<!DOCTYPE html>
<html lang="lv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Laikapstākļi</title>
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <!-- icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <style>
        /* here goes the css */
        body {
            background-color: lightcyan;
            padding-top: 30px;
        }


    </style>
  </head>
  <body>
    <div class="container" id="main-container">
      <!-- input form -->
      <div class="d-flex justify-content-center">
        <div class="col-12 col-lg-5">
            <form action="/get_weather" method="post">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-search"></i>
                    </span>
                    <input
                    type="text"
                    class="form-control"
                    placeholder="Ievadīt pilsētu"
                    id="inp-city"
                    name="city"
                    />
                    <input
                    class="btn btn-outline-secondary"
                    type="submit"
                    id="btn-search"
                    value="Meklēt"
                    >
                </div>
                 <!-- insert radio button here to chose between 5day and 1 day forcast-->
              <select class="form-select" aria-label="Default select example" id="inp-days" name="days">
                <option selected>Prognoze</option>
                <option value="5">5 dienām</option>
                <option value="1">Šodienai</option>
              </select>
            </form>
            <div id="div-results">
              {% if search_rez %}
                <div class="text-center">
                  <h4>{{search_rez['place']}} {{search_rez['country']}}</h4>
                  <img style="width: 100px;" src="{{search_rez['icon']}}" alt="Ikona">
                  <h4 style="display: inline-block">{{search_rez["temperature"]}}°C</h4>
                </div>
                <div class="text-center">
                  <h4>{{search_rez["apraksts"]}}</h4>
                </div>
              {% elif forecast%}
                {% for day in forecast %}
                  <div class="text-center">
                    <h4>{{day['place']}} {{day['country']}}</h4>
                    <p>Datums: {{day['date']}}</p>
                    <img style="width: 100px;" src="{{day['icon']}}" alt="Ikona">
                    <h4 style="display: inline-block">{{day["temp"]}}°C</h4>
                  </div>
                  <div class="text-center">
                    <h4>{{day["description"]}}</h4>
                  </div>
                  <hr>
                {% endfor %}
              {% elif text %}
                <div class="text-center">
                  <h4>{{text}}</h4>
                </div>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
    <!-- javascript -->
    <script src="script.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>